.app {
  width: 100vw;
  height: 100vh;

  background-color: var(--clr-background);
}

#light {
  background-color: var(--clr-background);
}

#dark {
  background-color: black;
}

.home-title {
  color: var(--clr-text-primary);
}

button {
  background-color: var(--clr-btn-primary);
  font-weight: 700;
  color: var(--clr-text-secondary);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--clr-btn-hover);
}
