* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --clr-background: #f6f6f6;
  --clr-secondary: #003cff;

  --clr-text-primary: #0a0a0a;
  --clr-text-secondary: #ffff;

  --clr-toggle-background: #f0eb9d;
  --clr-toggle-secondaty: #ffd000;

  --clr-btn-primary: #c0c0c0;
  --clr-btn-hover: #9c9c9c;
}

[data-theme="dark"] {
  --clr-background: #0a0a0a;
  --clr-secondary: #567aff;

  --clr-text-primary: #f6f6f6;
  --clr-text-primary: #0a0a0a;

  --clr-toggle-background: #283452;
  --clr-toggle-secondaty: #00a6ff;
}
