/* PRODUCTS -------------------------------------------------*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 100vw;
}

#light .container {
  background-color: var(--clr-background);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 153, 153, 1) 100%
  );
}

#dark .container {
  background-color: black;
}

#dark .container {
  color: var(--clr-text-primary-dark);
}
.header {
  margin: 20px 0 30px 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 100px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .grid {
    background-color: green;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .grid {
    background-color: blue;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .grid {
    background-color: red;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

@media (min-width: 1025px) {
  .grid {
    /* background-color: yellow; */
  }
}
