@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ff: "Open Sans", sans-serif;

  --clr-background: #fff;
  --clr-secondary: #000;

  --clr-text-primary: #525252;

  --clr-text-secondary: #1d1d1d;
  --clr-text-tertiary: #217aff;
  --clr-text-white: #fff;
  --clr-text-black: #000;

  --clr-btn-primary: #c0c0c0;
  --clr-btn-hover: #9c9c9c;

  --clr-background-dark: #0a0a0a;
  --clr-secondary-dark: #567aff;

  --clr-text-primary-dark: #f6f6f6;
  --clr-text-secondary-dark: #0a0a0a;

  /*  */

  --backgroundColor: #fff;
  --textColor: #fff;
  --textColorNavBar: #525252;
}

#light {
  --backgroundColor: #fff;
  --textColor: #000;
  --textColorNavBar: #525252;
}

#dark {
  --backgroundColor: #0a0a0a;
  --textColor: #fff;
  /* 
  --clr-text-primary: #f6f6f6;
  --clr-text-secondary: #0a0a0a; */
}
